.dg-container{
	width: 100%;
	height1: 380px;
	position: relative;
}
.dg-wrapper{
	width: 100%; border:0px solid red;
	height:auto;
	max-width:500px; min-width:120px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
	z-index: 1200;
}
.dg-wrapper a{
	width: 100%; border:0px solid red;
	height:auto;
	max-width:500px; min-width:120px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	cursor1:default;
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
	padding: 0px 0px 0px 1px;
}
.dg-wrapper a div{
 	font:normal 20px zurich;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	width: 100%;
	top: -55px;
	display: none;
	position: absolute;
	border:0px solid red;
	white-space:nowrap;
}
.dg-wrapper a button{ position:absolute; top:50%; left:0; width:100%; text-align:center; padding:10px 0; background-color:rgba(250, 187, 141, 0.7); border:none; font:bold 20px source; cursor:pointer; opacity:0; transition: all 0.8s ease-in-out;}

.dg-wrapper a:hover button{ opacity:1; transition: all 0.8s ease-in-out;}

.dg-wrapper a.dg-center div{
	display: block;
}
.dg-container nav{
	width: 95%;
	height:50px;
	margin:10% 0 0 0;
	position:absolute;
	top: 35%;
	left: 1%;
	z-index: 10000;
	border:0px solid red;
}
.dg-container nav span{
	/*text-indent: 9000px;*/
	float: left;
	cursor:pointer;
	width: 24px;
	height: 25px;
	opacity: 0.6; border:0px solid red;
	background1: transparent url(../images/arrows.png) no-repeat top left;
	transition: all 0.5s ease-in-out;
}
.dg-container nav span:nth-child(2){ float:right; right:0%;}

.dg-container nav span:hover{
	opacity: 1;
	transition: all 0.5s ease-in-out;
}
.dg-container nav span.dg-next{
	background-position: top right;
	margin-left: 10px;
}

.contain_low_scr{ width:95%; display:block; clear:both; margin:0 auto; padding:0; display:block;}
.contain_low_scr div.sc_prod{ width:30%; position:relative; padding:0; margin:10px 10px 50px 10px; border:0px solid red; display:inline-block; border-top:2px solid #f48533;}
.contain_low_scr div.sc_prod a{ width:100%; max-width:300px; height:auto;}
.contain_low_scr div.sc_prod a img{ width:100%; height:auto; box-shadow:0 0 10px rgba(0,0,0,0.2);}
.contain_low_scr div.sc_prod a div{ position:absolute; top:-30px; width:100%; text-align:center; cursor:default; font:normal 20px zurich; text-shadow: 1px 1px 1px rgba(255,255,255,0.5); color: #333;}
.contain_low_scr div.sc_prod a button{position:absolute; bottom:0; left:0; width:100%; text-align:center; padding:10px 0; background-color:rgba(250, 187, 141, 0.7); border:none; font:bold 20px source; cursor:pointer; opacity:1; transition: all 0.8s ease-in-out;}

@media (min-width: 576px) and (max-width: 767.98px) {
.dg-container{ display:none;}
.contain_low_scr{ display:block;}
}

@media (max-width: 575.98px) {
.dg-container{ display:none;}
.contain_low_scr{ display:block;}
.contain_low_scr div.sc_prod{ width:48%;}
}